<p><strong>Backend : </strong>
  There is a rest service developed with .Net Core 5 in the folder named TaskManagerApp. </p>
<p>For each of the controller methods in the application, you can see the UnitTests written using xUnit in the project
  named TaskManagerApp.Test.</p>
<p>Since it was developed without using any database, there are 4 predefined tasks that I add to the code every time the
  application starts.</p>
<p>Since the project is developed with OpenAPI support, you can see the REST endpoints at <a
    href="https://localhost:5001/swagger">https://localhost:5001/swagger</a></p>
<blockquote>
  <p>Must be Rebuild Application and Restore Nuget Packages</p>
</blockquote>
<p><strong>Frontend: </strong></p>
<p>Run First </p>
<blockquote>
  <p>npm install --dev</p>
</blockquote>
<p>The client application located in <em>ClientApp</em> directory , you can run application with <em>ng serve</em>
  command </p>
<p><strong>Pages </strong>
  <em>new-task:</em> Route to new task page</p>
<p><em>task-list:</em> Route to task list application</p>
